html{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color:#F6F8F9;
    margin: 0;
}

header{
    background-color: white;
   
 }

 #logo{
      width: 70px;
  }

  h1{
    display: inline-block;
    vertical-align: text-bottom;
  }

  h2{
    color: #444851;
}

  #container{
    margin: 0 auto;
    background-color: white;
    width: 70%;
    margin-top: 3rem;
    border-radius: 10px;
 }

.container_button{
      padding: 2rem 4rem 1rem;
  }

 .container{
    padding: 2rem 4rem 1rem;
 }
  

  #linea {
      border-bottom: 2px solid   #F6F8F9;
      margin: 0;
 }
 
  section{
      margin-bottom: 3rem;
  }

  /*symbols*/
.checkmark {
    color: #2CC6AB;
    border: 1px solid #2CC6AB;
    padding: 1px 4px;
    border-radius: 50%;
  }

.x {
    color: red;
    border: 1px solid red;
    padding: 1px 4px;
    border-radius: 50%;
  }


  /*button type*/

 .button1{
    height: 2rem;
    padding: 0.5rem;
    border-radius: 0.25rem ;
    padding-left: 1rem;
    padding-right: 1rem;
}

.button{
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.75rem ;
    vertical-align: middle;
}

.task{
    color: white;
    background-color:  #14AAF5;
    border: none;
    padding: 0.5rem;
}

.section{
    color: #CFD5D9;
    border:1px solid #CFD5D9;
    background-color: white;   
}


.editorial{
    background-color: #09A9ED;
    color: white;
    border: none;
}

.goals{
    background-color:  #AB5DE6;
    color: white;
    border: none;
}

.recruiting{
    background-color:  #2CC6AB;
    color: white;
    border: none;
}

.mobile{
    background-color: #FF9B00;
    color: white;
    border: none;
}