html{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color:#F6F8F9;
    margin: 0;
}

header{
    background-color: white;
   
 }

  #logo{
      width: 70px;
  }

  h1{
      display: inline-block;
    vertical-align: text-bottom;
  }

  #container{
      margin: 0 auto;
      background-color: white;
      width: 60%;
     margin-top: 3rem;
     border-radius: 10px;
     padding: 25px 100px 25px ;

  }