body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color:#F6F8F9;
    margin: 0;
}


/*header*/
header{
    background-color: white;
 }

#logo{
      width: 70px;
  }

h1{
    display: inline-block;
    vertical-align: text-bottom;
  }


/*main*/
  #container{
    margin: 0 auto;
    background-color: white;
    width: 70%;
    margin-top: 3rem;
    border-radius: 10px;
 }

.container_button,.container {
    padding: 2rem 4rem 1rem;
  }

 h2,p{
    color: #444851;
}

#linea {
    border-bottom: 2px solid   #F6F8F9;
    margin: 0;
 }
 
section{
    margin-bottom: 3rem;
  }
  

  /*symbols*/
.checkmark {
    color: #2CC6AB;
    border: 1px solid #2CC6AB;
    padding: 1px 4px;
    border-radius: 50%;
  }

.x {
    color: red;
    border: 1px solid red;
    padding: 1px 4px;
    border-radius: 50%;
  }


  /*button type*/

 .button1{
    height: 2rem;
    padding: 0.5rem;
    border-radius: 0.25rem ;
    padding-left: 1rem;
    padding-right: 1rem;
}

.button{
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.75rem ;
    vertical-align: middle;
    color: white;
    border: none;
}

.task{
    color: white;
    background-color:  #14AAF5;
    border: none;
    padding: 0.5rem;
}

.section{
    color: #CFD5D9;
    border:1px solid #CFD5D9;
    background-color: white;   
}


.editorial{
    background-color: #09A9ED;
}

.goals{
    background-color:  #AB5DE6;
}

.recruiting{
    background-color:  #2CC6AB;
}

.mobile{
    background-color: #FF9B00;
}

.website{
    background-color:  #EC4A9D;
}

.sales{
    background-color: #A3D116;
}